[SddmGreeterTheme]
Name=hypr-vesper
Description=Vesper rim-light-on-cobalt login greeter matching the hyprland repo's vesper theme
Author=Brij Patel
Copyright=(c) Brij Patel
License=GPL-3.0
Type=sddm-theme
Version=1.0
Website=https://github.com/bpatel1121/hyprland
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=hypr-vesper
Theme-API=2.0
QtVersion=6
