[SddmGreeterTheme]
Name=hypr-cyberpunk
Description=Cyberpunk login greeter matching the hyprland repo's cyberpunk theme (Cybrcolors palette)
Author=Brij Patel
Copyright=(c) Brij Patel
License=GPL-3.0
Type=sddm-theme
Version=1.0
Website=https://github.com/bpatel1121/hyprland
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=hypr-cyberpunk
Theme-API=2.0
QtVersion=6
